* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: rgb(239, 231, 223);
    color: rgb(79, 35, 3);
    overflow-y: scroll;
    
}

