#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 5rem auto;
    overflow: hidden;
}

.bg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 165px;
    height: auto;
    margin-left: 3rem;
}

.hello {
    font-size: 4rem;
    line-height: 165px;
    font-family: 'Nunito', sans-serif;
}

.introText {
    font-size: 4rem;
    line-height: 165px;
    font-family: 'Nunito', sans-serif;
}

.introPara {
    font-size: 1.6rem;
    margin: 5rem auto;
    font-family: 'Montserrat', sans-serif;
}